.App {
  text-align: center;
  font-family: 'SF Pro Display', sans-serif;
}

.search-form {
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  width: 40%;
  border-radius: 35px;
  border:1px solid rgb(167, 163, 163);
  transition: 0.3s ease-in-out;
}
.search-form:hover{
  box-shadow: 0px 0px 25px 0px rgba(150, 147, 147, 0.4);
}

.form {
  width: 90%;
  outline: none;
  display: flex;
}
.search-bar {
  width: 100%;
  border: none;
}
.search-bar:focus{
  outline:none;
  border-bottom: 1px solid grey;
  transition: 0.3s ease-in-out;
}
.search-button{
  border:none;
}
.weather-form{
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(167, 163, 163);
  width: 40%;
  height: 47vh;
  margin: auto;
  padding: 6vh;
  border-radius: 30px;
  margin-top: 10vh;
}
.city-name{
  width: 100%;
  margin:none;
  font-size: 5vh;
}
.temp{
  width: 100%;
  font-size: 10vh;
  margin: none;
}
.temp2{
  width: 100%;
  font-size: 3vh;
  margin: none;
}
.type{
  font-size: 3vh;
}
.body{
  margin-top: 6vh;
  padding: 0;
  width: 100vw;
}
.forecast-body{
  align-items: center;
  justify-content: space-around;
  margin-top: 5vh;
  width: 100%;
  display: flex;
}
.forecast-card{
  border: 1px solid rgb(167, 163, 163);
  margin-top: 3vh;
  float: right;
  padding: 3vh;
  width: 27vh;
  border-radius: 25px;
}
.forecast-card ol{
  list-style: none;
  padding: 0;
  margin: auto;
}
.desc{
  font-size: 2vh;
}